{% extends 'myapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header>
    <h1><i class="fa-regular fa-address-card" style="color: #bfeff1;"></i>О нас</h1>
       </header>
 <div class="text">
        <h2>О нас </h2>
        <p>В 2005 году три друга - Алексей, Иван и Михаил - решили открыть свой бизнес. <br><br>
          Они были уверены, что могут создать что-то особенное и качественное, что понравится людям. <br><br>
          Они решили заняться продажей мясной и колбасной продукции. У них было немного опыта в этой области, но они были готовы учиться и развиваться.<br><br>
          Друзья начали искать подходящее место для своего магазина. Они хотели, чтобы это было удобно для покупателей и имело хорошую проходимость. В конечном итоге они выбрали уголок на оживленной улице. Друзья начали работать над своим бизнесом с полной отдачей. Они тратили много времени на поиск лучших поставщиков, выбор качественных продуктов и создание уникальных рецептов.
          С первых дней магазин стал популярным среди местных жителей. Клиенты ценили качество продукции, дружелюбный персонал и атмосферу, которую создали друзья.<br><br>
          Вскоре они начали расширять свой ассортимент, добавляя новые виды мясной и колбасной продукции.<br><br>
          Сегодня, спустя много лет, магазин Алексея, Ивана и Михаила - один из самых популярных магазинов в городе. Они продолжают работать над улучшением своего бизнеса и радовать своих клиентов качественной продукцией и отличным сервисом.<br><br>
{% endblock %}